@import url(base.css);

form{
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    outline: .1em solid #fff;
    padding: 2em;
}

 form > *{
     margin: 1em;
     padding: .3em;
 }

 form p{
     color: #000;
     text-align: center;
 }

 input[type='button']{
     background-color: transparent;
     border: 0;
     outline: .1em solid #fff;
     cursor: pointer;
 }

 input[type='button']:hover{
    background-color: #fff;
}